*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container{
    height: 100vh;
}

#scarpa1{
    background-color:#fe0000;
    height: 100vh;
}

#scarpa2{
    background-color:#008001;
    height: 100vh;
}

#scarpa3{
    background-color: #ffff00;
    height: 100vh;
}

nav{
    position: fixed;
    margin: 40px auto;
    display: inline-block;
    right: 5px;
    font-size: 30px;
}

nav li{
    display: inline-block;
    font-size: 30px;
    padding: 10px 20px;
    margin: auto 30px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: white;
}

nav li a{
    text-decoration: none;
}

.titolo{
    font-family: 'Rubik Mono One', sans-serif;
    color: #f9fa04;
    text-align: center;
}

img{
    transform: translate(+50%, 0);
}

#verde{
    color: #008001;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}

