*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: inline-block;
    float: right;
    font-size: 30px;
}

body{
    background-color: #fe0000;
}

.scarpa{
    margin: 40px auto;
}

nav li{
    position: relative;
    display: inline-block;
    list-style-type: none;
    font-size: 30px;
    padding: 10px 20px;
    margin: auto 30px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: white;
}

main h1{
    font-family: 'Rubik Mono One', sans-serif;
    color: #f9fa04;
    text-align: center;
}

div img{
    transform: translate(+50%, 0);
}

